# API authentication
AUTH_HEADER_KEY=
AUTH_API_KEY=

# External API
FMCSA_API_KEY=

# CORS origins (comma separated)
BACKEND_CORS_ORIGINS=


# Project metadata
PROJECT_NAME=
API_V1_STR=
ENVIRONMENT=
TESTING=

DATABASE_URL=
