# API authentication
AUTH_HEADER_KEY=X-API-Key
AUTH_API_KEY=my-secret-api-key-123

# External API
FMCSA_API_KEY=tu_clave_aqui

# CORS origins (comma separated)
BACKEND_CORS_ORIGINS=["*"]


# Project metadata
PROJECT_NAME=Load Assistant API
API_V1_STR=/api/v1
ENVIRONMENT=development
TESTING=false

DATABASE_URL=postgresql+psycopg2://user:password@db:5432/loads_db